:root {
	--fuentePrimaria: 'Open Sans', sans-serif;
	--fuenteSecundaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: var(--fuentePrimaria);
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--fuenteSecundaria);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #4488aa;
	padding: 0 10% 0 10%;
	color: #fff;
}

.contenedor {
	width: 80%;
	margin: 0 auto;
}

.contenido-principal__imagen-perfil {
	float: left;
	width: 20%;
	margin: 0 2rem 2rem 0;
	border-radius: 5%;
}

.contenido-principal__descripcion {
	line-height: 2;
}
